genvdso
vdso-image.c
vdso-n32-image.c
vdso-n32.lds
vdso-n32.so
vdso-n32.so.dbg
vdso-n32.so.dbg.raw
vdso-n32.so.raw
vdso-o32-image.c
vdso-o32.lds
vdso-o32.so
vdso-o32.so.dbg
vdso-o32.so.dbg.raw
vdso-o32.so.raw
vdso.lds
vdso.so
vdso.so.dbg
vdso.so.dbg.raw
vdso.so.raw
