*.cmd
*.builtin
*.order
*.mod.c
*.ko
*.data
*.tmp
.cstamp*

.root_complete
rootfs.cpio*
oct-app-ctl
vmlinux
vmlinux.64
gen_init_cpio
initramfs_data.cpio.gz

.config
.config.old
.version
Module.symvers
System.map
lib.a
vmlinux.lds
bounds.s
config_data.*
hz.bc
crc32table.h
gen_crc32table
oid_registry_data.c
fixdep
bin2c
dtc
dtc-lexer.lex.c
dtc-parser.tab.c
dtc-parser.tab.h
kallsyms
conf
zconf.tab.c
zconf.hash.c
zconf.lex.c
kconfig/zconf.tab.c
devicetable-offsets.h
devicetable-offsets.s
elfconfig.h
mk_elfconfig
modpost
sortextable
kernel/linux/kernel/timeconst.h
